<%- include layouts/header.ejs %>

  <div class="container">
      
    <div class="our">
        <h1><%= title %></h1>
        <p class="description">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Modi nostrum repudiandae iure amet rerum facilis doloribus iste exercitationem perferendis. Aut nisi esse temporibus veniam asperiores cum eligendi, eveniet aliquam dolorem.</p>
        
        
    </div>
    
  
  </div>
  <%- include layouts/footer.ejs %>

   